<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top main-menu">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">
                <img src="assets/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu-links">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">joining Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="owl-carousel owl-theme home-slider">
        <div class="item">
            <img src="assets/images/silde01.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/images/silde01.jpg" alt="">
        </div>

    </div>
    <footer>
        <div class="row mx-2">
            <div class="col-md-6 col-lg-5 ">
                <h4>about</h4>
                <p>Lions Streams is your one-stop shop. For all business needs.Development, Design &Business cards.
                    Also,
                    We provide you with your own Wholesale/Retail Site,</p>
                <div style="margin-top: 35px;margin-bottom: 40px;">
                    <a href="" class="social-btn"><i class="fa-brands fa-square-facebook" style="margin-right: 7px;font-size: 23px;"></i>LIKE US ON FACEBOOK</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <h4>helpful links</h4>
                <div class="row">
                    <ul class="footer-links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Services</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 ">
                <h4>contact us</h4>
                <div class="text-widget">
                    <span>City Mall Plaza Chen One Raod,</span>
                    <br>
                    Phone: <span>0000-0000000</span>
                    <br>
                    Email: <span>sample123@gmial.com</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ending">
                <div class="col-md-12">
                    <p>© Copyright 2021 by <a href="">Lion Streams</a>. All Rights Reserved. <a href="">Terms &
                            Condition</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/poper.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script>
        $(function () {
            $('.home-slider').owlCarousel({
                loop: true,
                nav: true,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
</body>

</html>